{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
    },
    "globals": {
      "Babel": true,
      "React": true
    },
    "plugins": [
      "react"
    ],
    "rules": {
      "global-require": 0,
      "import/no-unresolved": 0,
      "no-underscore-dangle": 0,
      "no-new-func": 0,
      "no-param-reassign": 0,
      "react/prefer-stateless-function": 0,
      "react/no-multi-comp": 0,
      "react/jsx-no-bind": 0,
      "react/jsx-indent": 0,
      "react/jsx-first-prop-new-line": 0,
      "react/jsx-filename-extension": 0,
      "no-restricted-syntax": 0,
      "semi": [2, "never"],
      "quotes": [2, "single"],
      "eqeqeq": [2, "always"],
      "comma-spacing": [2, { "before": false, "after": true }],
      "react/forbid-prop-types": 0,
      "comma-dangle": 0,
      "react/destructuring-assignment": 0
    }
  }